<li>
  <%= gravatar_for user, size: Settings.gravatar_for_size_50 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t("delete.delete"), user, data: { "turbo-method": :delete,
                                          turbo_confirm: t("delete.confirm")} %>
  <% end %>
</li>
